body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #0b1637;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-section{
    border: 2px solid #f59e0b ;
    width: 70vw;
    min-height: 50vh;
    text-align: center;
    border-radius: 10px;
}
#todo-input,.btn,.todo-btn{
    height: 50px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

#todo-input{
    width: 80%;
    padding-left: 10px;
}
.btn,.todo-btn{
    width: 120px; 
    background-color: #ff2d2d;
    cursor: pointer;
}
.todo-list li{
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    align-items: center;
}
.todo-btn{
    width: 100px;
}
.green{
    background-color: #38bdf8;
}